/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes arrow {
    from {
        left: -13px;
    }
    to {
        left: -17px;
    }
}


@keyframes heart {
    from {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}

@keyframes sparks {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.sparks {
    opacity: 0;
  }

  :is(.like-icon:hover .core) {
    fill: var(--contour-like);
    transition: fill 0.3s linear;
  }
  
  :is(.like-icon:hover .main-body) {
    fill: var(--contour-like);
    transition: fill 0.3s 0.05s linear;
  }
  
  .like-icon .core {
    fill: var(--bg-color, #fff);
    transition: fill 0.3s 0.03s linear;
  }
  
  
  .like-icon .main-body {
    fill: var(--bg-color, #fff);
    transition: fill 0.3s linear;
  }

  :is(.like-icon:active .core) {
    transition: fill 0.3s linear;
    fill: var(--filling-like, #ff0000);
  }
  
  :is(.like-icon:active .main-body) {
    fill: var(--filling-like, #ff0000);
    transition: fill 0.3s 0.05s linear;
  }
  
  .like-icon.is-liked .contour {
    fill: var(--filling-like, #ff0000);
    transition: fill 0.3s 0.06s linear;
  }
  
  .like-icon.is-liked .main-body {
    fill: var(--filling-like, #ff0000);
    transition: fill 0.3s 0.05s linear;
  }

  .like-icon.is-liked .core {
    fill: var(--filling-like, #ff0000);
    transition: fill 0.3s linear;
  }
  
  .like-icon.is-liked .heart {
    animation: heart 0.3s 0.1s ease-in alternate;
    transform-origin: center;
  }
  
  .like-icon.is-liked .sparks {
    animation: sparks 0.3 0.3s ease-in alternate;
  } 
  
  
  .like-icon .contour {
    fill: var(--contour-color #000);
    transition: fill 0.1 ease;
  }