/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-fonts: 'Inter-Variable';
    --accent-fonts: 'Press Start 2P';
    --text-weight: 400;
    --title-weight: 700;
    --bg-color: #fff;
    --accent-color: #000;
    --bg-gradient: repeating-linear-gradient(to left, #d3d3d3 , transparent 2px),
    repeating-linear-gradient(to top, #d3d3d3 , transparent 2px),
    linear-gradient(#e7e7e7 , #1a1a1a);
    --laybel-text: #fff;
    --contour-like: #000;
    --filling-like: #FF0000;
}